#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

textarea {
  width: 500px;
  height: 250px;
  /* Set the fixed height */
  font-family: "Courier New", monospace;
  /* Set a fixed font-family */
  font-size: 16px;
  /* Set a fixed font size */
  padding: 10px;
  margin-bottom: 10px;
  resize: none;
}

button {
  background-color: #7391e2;
  color: rgb(10, 26, 241);
  padding: 10px 15px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(10, 26, 241);
  color: white;
}

.solver-item {
  border: 1px solid rgb(160, 160, 160);
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.solver-item.selected {
  background-color: #063969;
  /* Change this to the color you want */
  color: rgb(192, 192, 192);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}