#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

textarea {
  width: 500px;
  height: 250px;
  /* Set the fixed height */
  font-family: "Courier New", monospace;
  /* Set a fixed font-family */
  font-size: 16px;
  /* Set a fixed font size */
  padding: 10px;
  margin-bottom: 10px;
  resize: none;
}

button {
  border-radius: 8px;
  border: 1px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.small-button {
  border-radius: 3px;
  border: 1px solid;
  margin-top: 0.5em;
  padding: 0.3em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.result-container {
  border: 4px solid rgb(131, 131, 131);
  /* Change color as needed */
  padding: 10px;
  /* Adjust as needed */
}

button:hover {
  color: #063969;
  border-color: #646cff;
}

.solver-item {
  border: 1px solid rgb(160, 160, 160);
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.solver-item.selected {
  background-color: #063969;
  /* Change this to the color you want */
  color: rgb(192, 192, 192);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}